.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* aligns items along the horizontal line */
    margin: 20px;
    padding: 20px;
    background-color: #ddd;
    
    
}
.product {
    flex: 0 0 calc(50% - 80px); /* This ensures that each product will take up roughly half the width of the container (minus 10px), and will neither grow nor shrink */
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    
    
}


.product:hover {
    background-color: #ffffff;
}

.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product p {
    color: #007BFF;
    font-weight: bold;
}

/* "Add to Cart" Button */
.product button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.product button:hover {
    background-color: #45A049;
}
